<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="javascripts/ClientIndex.js"></script>

  </head>
  <body>
    <h1 style="position:absolute; right:350px; top:20px;"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="time" style="position:absolute; right:45px; top:30px;"></div>

    <div id="ethercoin" style="position:absolute; right:525px; top:180px;"></div>
    <br>
    <div id ="etherprice" style="position:absolute; right:500px; top:200px;"></div>

    <div id ="bitcoin" style="position:absolute; left:500px; top:180px;"></div> <br>
    <div id ="bitcoinprice" style="position:absolute; left:500px; top:200px;"></div>



  </body>
</html>
